.navbar { 
    background-color: antiquewhite; 
    display: flex; 
    height: 150px;
    width: 100%;
}

.afo { height: 80px;
width: 100px;
margin: 20px;}

.list { display: flex;  margin-left: 40px;
list-style: none;}

.list li { width: 50px; padding: 50px;}

.cart-img{ width: 80px; height: 100px; margin: 20px;}

.cart-disp {display: flex;}

.cart-number {margin-top: 40px;}
